body,html{
    width: 100%;
    height: 100vh;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: black;
}
#canvas{
    height: 95%;
    width: 100%;
    margin: 0;
}

/* body:after {  
    content: url('https://t4.ftcdn.net/jpg/02/82/85/41/360_F_282854103_37oUj0bXJxBW6MOb5GnxuBmv4Vq83PKw.jpg');
    mix-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 38.25%);
    text-align: center;  
  } */

